/* Tooltips para los botones y saber que hacen los mismos  */

.button-tooltip {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
}

.button-tooltip::after {
    z-index: 1;
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    background-color: #333;
    color: #fff;
    font-size: 13px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    border-radius: 4px;
    white-space: nowrap;
}

.button-tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}

/* Formularios de edición o creación */

.edit-form {
    width: 100%;
    border: 1px solid rgb(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

@media only screen and (min-width: 768px) {
    .edit-form {
        width: 50%;
    }
}

/* Estilos de la card de la factura */

.invoice-card {
    width: 100%;
    margin-inline: auto;
    border-radius: 20px;
    padding: 1rem;
}

.invoice-card .invoice-card-content {
    border-radius: 15px;
    padding: 0.5rem;
    background: #f3f3f3;
}

@media (min-width: 1024px) {
    .invoice-card {
        padding: 1rem 2.5rem;
        width: 50%;
    }

    .invoice-card.email {
        padding: 1rem 2.5rem;
        width: 70%;
    }
}

.search-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-inline: auto;
    margin-bottom: 1rem;
}

.search-panel {
    display: flex;
    flex-direction: column;
}

.search-panel__filters {
    flex: 1;
}

.search-panel__results {
    flex: 3;
    position: relative;
}

.search-panel__results > #hits {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 100%;
    z-index: 4;
}

#searchbox > div > form > button.ais-SearchBox-reset {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    background: white;
    padding: 2px;
}

input.ais-SearchBox-input {
    color: #1f2937;
    width: 100%;
    border-radius: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

input.ais-SearchBox-input:focus {
    outline: none;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(14 165 233 / var(--tw-ring-opacity));
}

.ais-Highlight-highlighted {
    background: #4f46e5;
    color: white;
    font-size: inherit;
}

#hits > div > ol > li > a > article:hover {
    background-color: #d4d4d8 !important;
}
